requests-aws4auth==0.9
elasticsearch==7.0.2
boto3==1.9.172
beautifulsoup4==4.5.3
requests
openpyxl
configparser
lxml
libmagic
python-magic
python-magic-bin
Pillow
pytesseract
pdf2image
pdfminer.six
tika==1.19
PyPDF2==1.26.0
jsonschema
html2text
Flask
Flask-Uploads